option_settings:
  aws:elasticbeanstalk:application:environment:
    SPRING_APPLICATION_NAME: soft
    SPRING_DATASOURCE_URL: jdbc:mysql://awseb-e-bvcwbmpgca-stack-awsebrdsdatabase-cqs8tukjuqed.c54u6q46clvb.eu-north-1.rds.amazonaws.com/semilore_ecommerce
    SPRING_DATASOURCE_USERNAME: Semilore
    SPRING_DATASOURCE_PASSWORD: DukeOfSuffolk17*
    SPRING_DATASOURCE_DRIVER_CLASS_NAME: com.mysql.cj.jdbc.Driver

    SPRING_SECURITY_USER_NAME: Semilore
    SPRING_SECURITY_USER_PASSWORD: Semilore

    CLOUDINARY_CLOUD_NAME: dfjmefure
    CLOUDINARY_API_KEY: 113862737538373
    CLOUDINARY_API_SECRET: zi4mOJdtUFX6eysApwg5QqsmVZk

    SPRING_MAIL_HOST: smtp.gmail.com
    SPRING_MAIL_PORT: 587
    SPRING_MAIL_USERNAME: msemilore@kulipal.com
    SPRING_MAIL_PASSWORD: ygbmjqlhahavodqw
    SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH: true
    SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE: true

    SECURITY_JWT_SECRET_KEY: f071e899ba13675998cc2cca88891830edbdc985d47c99699d200d5cbbe4a6c0
    SECURITY_JWT_EXPIRATION_TIME: 2592000000

    FLUTTERWAVE_SECRET_KEY: FLWSECK_TEST-8493029ebc6f1a2e2852b134b22d4e2d-X

    SPRING_JPA_HIBERNATE_DDL_AUTO: update
    SPRING_JPA_SHOW_SQL: true
    SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL: true
    SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT: org.hibernate.dialect.MySQLDialect